<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
<!-- 该配置文件复制到web工程的WEB-INFO目录下  --> 
	<display-name>mweb</display-name>
	<!-- Spring配置文件开始 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
             classpath*:web-root.xml
         </param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- Spring配置文件结束 -->

	<!-- 可以使用RequestContextHolder.currentRequestAttributes() 获取到请求的attr -->
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<!-- 设置servlet编码开始 -->
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
<!-- 		<async-supported>true</async-supported> -->
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 设置servlet编码结束 -->

	<!--druid 监控
	<filter>
		<filter-name>DruidWebStatFilter</filter-name>
		<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>exclusions</param-name>
			<param-value>/static/*,*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
		</init-param>
		<init-param>
			<param-name>principalSessionName</param-name>
			<param-value>username</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>DruidWebStatFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	 
	<servlet>
		<servlet-name>DruidStatView</servlet-name>
		<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>DruidStatView</servlet-name>
		<url-pattern>/admin/monitor/druid/*</url-pattern>
	</servlet-mapping>
 -->

	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:web-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
<!-- 		<async-supported>true</async-supported> -->
	</servlet>

	<!-- 错误页面映射 -->
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/error/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/WEB-INF/jsp/error/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/error/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/WEB-INF/jsp/error/error.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/jsp/error/error.jsp</location>
	</error-page>

	<!-- 初始化servlet -->
	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>com.mtools.core.plugin.web.servlet.init.InitServlet</servlet-class>
		<!-- <init-param>
			<param-name>log4j</param-name>		
			<param-value>tecsp.log4j.properties</param-value>    
		</init-param> -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	 >

	<listener>
		<listener-class>com.mtools.core.plugin.web.listener.SystemListener</listener-class>
	</listener>
	<!-- 异常过滤器 -->
	<filter>
		<filter-name>exceptionFilter</filter-name>
		<filter-class>com.mtools.core.plugin.web.filter.ExceptionFilter</filter-class>
		<init-param>
			<param-name>errorurl</param-name>
			<param-value>/admin/excepmsg</param-value>
		</init-param>
		<init-param>
			<param-name>ajaxurl</param-name>
			<param-value>/WEB-INF/jsp/error/ajax.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>exceptionFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
<!--页面缓存 -->
	<filter>
		<filter-name>helperApiCacheFilter</filter-name>
		<filter-class>com.mtools.core.plugin.web.filter.SimplePageCachingExtFilter</filter-class>
		<init-param>
			<param-name>cacheName</param-name>
			<param-value>afrontWebCache</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>helperApiCacheFilter</filter-name>
	    <url-pattern>/helper/searchhqlist</url-pattern>
	</filter-mapping>
	 
<!-- 	响应页面进行压缩 -->
	<filter>
	  <filter-name>CompressingFilter</filter-name>
	  <filter-class>com.planetj.servlet.filter.compression.CompressingFilter</filter-class>
	</filter>
	
	<filter-mapping>
	  <filter-name>CompressingFilter</filter-name>
	  <url-pattern>/helper/supbanklist/*</url-pattern>
	</filter-mapping>
		
	<!-- 验证码过滤器 -->
    <filter>
        <filter-name>JCaptchaFilter</filter-name>
        <filter-class>com.mtools.core.plugin.web.jcaptcha.JCaptchaFilter</filter-class>
<!--         <async-supported>true</async-supported> -->
    </filter>
    <filter-mapping>
        <filter-name>JCaptchaFilter</filter-name>
        <url-pattern>/jcaptcha.jpg</url-pattern>
    </filter-mapping>
    
</web-app>

